@font-face {
  font-family: Sunsetpalm;
  src: url(fonts/SunsetPalmScriptTrial.otf);
}

@font-face {
  font-family: learners;
  src: url(fonts/LettersforLearners.ttf);
}

:root {
  --goud: gold;
  --roze: pink;
  --blauw: #001861;
  --silver: #c0c0c0;
}

.achtergrond {
  display: flex;
  justify-content: center;
}

html {
  color: light-dark(#000, #fff);
  --whitespace-s: 1rem;
}

main {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

body {
  background-image: url("./images/ACHTERGROUND_LCITH_CLICK.png");
  @media (prefers-color-scheme: dark) {
    background-image: url("./images/DARK_MODE_CLICK.png");
  }

  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

H1 {
  font-family: Sunsetpalm;
  font-size: 12vw;
  line-height: 0.7;
  text-wrap: balance;
  margin: --whitespace-s;
  text-align: center;
}

h2 {
  font-family: Sunsetpalm;
  font-size: 5vw;
  line-height: 0.1;
  text-wrap: balance;
}

p {
  font-family: learners;
  font-size: 2.5vw;
  line-height: 0.9;
  text-wrap: balance;
}

/* landen */

section:nth-of-type(1) {
  display: flex;
  line-height: 25px;
  text-wrap: balance;
  font-family: learners;
  font-size: 1rem;
}

/* foto's */

section:nth-of-type(2) ul {
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr;
  display: grid;
  grid-template-areas:
    "netherlands"
    "missen"
    "earth"
    "international"
    "world "
    "next"
    "other";

  gap: 0.5em;
  list-style-type: none;

  @media (width > 28em) {
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas:
      "netherlands  missen"
      "international earth"
      "next world"
      "other . ";
  }

  @media (width > 30em) {
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
      "netherlands missen international"
      "earth       next   world"
      "other       .      . ";
  }
}

section:nth-of-type(2) li:nth-of-type(1) {
  grid-area: netherlands;
}

section:nth-of-type(2) li:nth-of-type(2) {
  grid-area: missen;
}
section:nth-of-type(2) li:nth-of-type(3) {
  grid-area: earth;
}
section:nth-of-type(2) li:nth-of-type(4) {
  grid-area: international;
}

section:nth-of-type(2) li:nth-of-type(5) {
  grid-area: world;
}

section:nth-of-type(2) li:nth-of-type(6) {
  grid-area: next;
}

section:nth-of-type(2) li:nth-of-type(7) {
  grid-area: other;
}

section:nth-of-type(2) img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
