@font-face {
  font-family: Sunsetpalm;
  src: url(fonts/SunsetPalmScriptTrial.otf);
}

@font-face {
  font-family: learners;
  src: url(fonts/LettersforLearners.ttf);
}

:root {
  --goud: gold;
  --roze: pink;
  --blauw: #001861;
  --silver: #c0c0c0;
}

.achtergrond {
  display: flex;
  justify-content: center;
}

html {
  color: light-dark(#000, #fff);
  --whitespace-s: 1rem;
}

main {
  margin: auto;
  display: grid;
}

body {
  background-image: url("./images/ACHTERGROUND_LCITH_CLICK.png");
  @media (prefers-color-scheme: dark) {
    background-image: url("./images/DARK_MODE_CLICK.png");
  }

  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

img {
  max-width: 40%;
}

H1 {
  font-family: Sunsetpalm;
  font-size: 12vw;
  line-height: 0.7;
  text-wrap: balance;
  margin: --whitespace-s;
  text-align: center;
}

h2 {
  font-family: Sunsetpalm;
  font-size: 5vw;
  line-height: 0.1;
  text-wrap: balance;
}

p {
  font-family: learners;
  font-size: 2.5vw;
  line-height: 0.9;
  text-wrap: balance;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
}
/* voor de laatste tekst heb ik chat hva gebruikt*/

p:nth-of-type(1) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: learners;
}

/* iemand van ICT had mij hierbij geholpen*/
@media (max-width: 670px) {
  p:nth-of-type(1) {
    font-family: learners;
    font-size: 2.5vw;
    line-height: 0.9;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-start: 1;
    grid-row-end: -3;
  }
}

.button1 {
  display: inline-block;
  border: 4px solid #000;
  font-family: Sunsetpalm;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
  border-radius: 70%;
  line-height: 90px;
  background-image: linear-gradient(var(--roze), var(--silver));
  text-decoration: none;
  margin: 20px;
}

.button1:hover {
  transform: scale(1.05);
}

.button2 {
  display: inline-block;
  border: 4px solid #000;
  font-family: Sunsetpalm;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  border-radius: 70%;
  text-wrap: balance;
  line-height: 100px;
  background-image: linear-gradient(var(--blauw), var(--goud));
  text-decoration: none;
  margin: 20px;
}

.button2:hover {
  transform: scale(1.05);
}
