/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Sunsetpalm;
  src: url(fonts/SunsetPalmScriptTrial.otf);
}

:root {
  color-scheme: light dark;
}

/* de main elemten */
html {
  color: light-dark(#000, #fff);
  --button: pink;
}

body {
  background-image: url("../../images/LIGHT_ACHTERGROUND.png");
  @media (prefers-color-scheme: dark) {
    background-image: url("../../images/achtergrond_dark_mode1.png");
  }

  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  place-items: center;
}

header {
  display: grid;
  justify-items: center;
}

footer {
  display: flex;
  justify-content: center;
}

img {
  width: 300px;
  height: auto;
  object-fit: cover;
}

/* de main elemten */

img:nth-of-type(1) {
  width: 60%;
  height: auto;
}

a:nth-of-type(1) {
  width: 100%;
  height: auto;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
}

a:nth-of-type(2) {
  width: 100%;
  height: auto;
  flex-direction: column;
  grid-column-start: 3;
  grid-column-end: 4;
}

a:hover {
  transform: scale(1.15);
}

@media (max-width: 670px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  a:nth-of-type(2) {
    width: 200%;
    height: auto;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 2;
  }
}

/* hier had ik chat voor gebruikt. Niet over getyped maar wel geholpen, maar uiteindelijk heb ik andere
code van een anderen button gebruikt*/

footer a {
  border: 3.5px solid #000;
  font-family: Sunsetpalm;
  font-size: 12px;
  color: black;
  border-radius: 70%;
  text-align: center;
  line-height: 90px;
  text-decoration: none;
  margin: 5%;
  max-width: 7rem;
  background-color: var(--button);
}
