/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type);
  font-weight: 400;
  font-style: normal;
}

:root {
  color-scheme: light dark;
}

html {
color: light-dark(#000, #fff);
  background-image: light-dark(
    url("images/achtergrond_lightmode_2.png"),
    url("images/achtergrond_dark_mode1.png")
  );

    background-size: auto; 
  background-position: center;  
  background-repeat: no-repeat; 

}

.eerst {
display: flex;
justify-content: center;

img {
    width: 500px;
    height: 100%;
    object-fit: cover;
  }
}

.onderste{
display: flex;
/* flex-wrap: wrap; */
  flex-direction: column;

  img {
    width: 500px ;
    height: auto;
    object-fit: cover;
  }
}

.verschillende{
 width: 100%;
  height: auto;
}

.eigen{
 /* width: 100%; */
  height: auto;
}

@media (min-width: 1024px) {
.onderste{
  flex-direction: row;
  gap: 50px;
}
}