/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type);
  font-weight: 400;
  font-style: normal;
}

:root {
  color-scheme: light dark;
}

html {
  color: light-dark(#000, #fff);
}
body {
  background-image: url("../../images/LIGHT_ACHTERGROUND.png");
  @media (prefers-color-scheme: dark) {
    background-image: url("../../images/achtergrond_dark_mode1.png");
  }

  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header {
  display: grid;
  justify-items: center;
}

img {
  width: 300px;
  height: auto;
  object-fit: cover;
}

img:nth-of-type(1) {
  width: 60%;
  height: auto;
}

a:nth-of-type(1) {
  width: 100%;
  height: auto;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 30px;
}

a:nth-of-type(2) {
  width: 170%;
  height: auto;
  flex-direction: column;
  grid-column-start: 3;
  grid-column-end: 4;
}

a:hover {
  transform: scale(1.15);
}

@media (max-width: 670px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  a:nth-of-type(2) {
    width: 200%;
    height: auto;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 2;
  }
}
