@font-face {
  font-family: Seraph;
  src: url(fonts/SeraphsVF.woff2);
}

/* bron: hva ai*/
html {
  --roze: #ff3d7e;
  --orange: #ff713d;
  --geel: #ffb700;
  --groen: #59ff38;
  --blauw: #3dffdb;

  --background-color: black;
}

body {
  font-family: Seraph;
  display: grid;
  grid-template-areas:
    "nav nav"
    "text1 text2"
    "text3 text4"
    "text5 text6"
    "text7 text7"
    "text8 text";

  background-color: var(--background-color);
}

p:nth-of-type(1) {
  color: var(--roze);
  rotate: 20deg;
  font-size: 10vw;
  grid-area: text1;
  margin: 1%;
  padding: 5%;
  font-variation-settings:
    "wght" 122,
    "SRFS" 41;
}

p:nth-of-type(2) {
  color: var(--orange);
  rotate: 60deg;
  font-size: 2vw;
  grid-area: text2;
  margin: 10%;
  padding: 10%;
}

p:nth-of-type(3) {
  color: var(--geel);
  rotate: -10deg;
  font-size: 10vw;
  grid-area: text3;
  margin: 1%;
  padding: 5%;
  justify-self: end;
  font-variation-settings:
    "wght" 144,
    "SRFS" 41;
}
p:nth-of-type(4) {
  color: var(--groen);
  rotate: 20deg;
  font-size: 2vw;
  grid-area: text4;
  margin: 30%;
}

p:nth-of-type(5) {
  font-variation-settings:
    "wght" 200,
    "SRFS" 60;
  color: var(--blauw);
  rotate: 20deg;
  font-size: 10vw;
  grid-area: text5;
  margin: 1%;
  padding: 30px;
}

p:nth-of-type(6) {
  color: var(--roze);
  rotate: -30deg;
  font-size: 2vw;
  grid-area: text6;
  margin: 20%;
  padding: 30px;
}

/* bron hva ai*/
p:nth-of-type(7) {
  color: var(--orange);
  font-size: 4vw;
  text-align-last: justify;
  margin: 10%;
}

p:nth-of-type(8) {
  color: var(--geel);
  font-size: 20vw;
  white-space: nowrap;
  text-align: center;
  writing-mode: sideways-lr;
  margin: 0%;
  padding: 0px;
  justify-self: end;
  font-variation-settings:
    "wght" 100,
    "SRFS" 16;
}

p:nth-of-type(9) {
  color: var(--groen);
  font-size: 15vw;
  padding-top: 0.1px;
  margin: 2%;
  padding: 0px;
  font-variation-settings:
    "wght" 200,
    "SRFS" 60;
}

p {
  margin: 7px;
}

lu {
  grid-area: nav;
}
